.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, .8);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	@supports (backdrop-filter: blur(5px)) {
		backdrop-filter: blur(5px);
		background-color: rgba($color-black, .3);
	}

	&:target {
		opacity: 1;
		visibility: visible;
	}
	
	&:target &__content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&__content {
		@include absCenter;
		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: 3px;
		display: table;
		overflow: hidden;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
		transition: all .4s .2s;
	}

	&__left {
		padding: 1rem 0 1rem 1rem;
		width: 33.333%;
		display: table-cell;
		vertical-align: middle;
	}

	&__right {
		width: 66.666%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem;
	}

	&__img {
		display: inline-block;
		width: 100%;
	}

	&__text {
		font-size: $default-font-size;
		margin-bottom: 4rem;
		column-count: 2;
		column-gap: 4rem;
		text-align: justify;
		column-rule: 1px solid $color-grey-light-2;
		hyphens: auto;
	}

	&__close {
		&:link,
		&:visited {
			color: $color-grey-dark;
			position: absolute;
			top: 1rem;
			right: 1.5rem;
			font-size: 3rem;
			text-decoration: none;
			display: inline-block;
			line-height: 1;
		}
		&:hover {
			color: $color-primary
		}
	}

	@include respond(tab-land) {
	
		&__content {
		display: block;
		padding: 2rem 1rem;
		position: relative;
	}

	&__left {
		display: block;
		width: auto;
		padding: 0;
		padding-bottom: 3%;
		opacity: .45;
		}
	
	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		&:first-child {
			display: none;
		}
	}

	&__right {
		width: auto;
		display: inline;
		vertical-align: auto;
		padding: 0;
	}

	&__text {
		font-size: 1.3rem;
		margin-bottom: 2rem;
		column-count: 2;
		column-gap: 3rem;
		text-align: justify;
		column-rule: none;
		hyphens: auto;
		color: black;
		font-weight: 700;
	}
	&__btn {
		float: right;
		margin-right: 6rem;
	}
	}
	@include respond(phone) {
		&__content {
			padding: .25rem;
		}
		&__left {
			padding: 0;
			}
		&__text{
			column-count: 1;
		}
		&__btn {
			float: none;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}